.cardPostList{
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    h3{
        font-weight: 700;
        font-size: 20px;
    }
    a{
        color: #3b49df;
        text-decoration: none;
    }
}