.postEditor {
    background: white;
    border: 1px solid #CCC;
    border-radius: 8px;
}
.btnCoverPost{
    border: 1px solid #d6d6d7;
    box-shadow: rgba(0,0,0,.035);
}
.postEditorTitle{
    width: 100%;
    font-size: 36px;
    border: none;
    font-weight: bold;
    &:focus-visible{
        outline: none;
    }
}
.imagePreviewContainer{
    max-width: 300px;
    height: auto;
}
#editorContent{
    min-height: 300px;
    font-size: 18px;
    border: none;
}
.ql-toolbar.ql-snow {
    padding: 8px 0 0 0;
  }
  
  #toolbar :first-child {
    margin-left: 1px;
  }
  
  #editor {
    width: 100%;
    height: 125px;
  }
  
  #subToolbar {
    display: table;
    border-top: 8px solid #fff;
    padding: 4px 8px;
    width: 100%;
    background-color: #ccc;
  }
  #subToolbar :first-child {
    margin-left: 0px;
  }
  #subToolbar button {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 15px;
    width: auto;
    color: #444;
  }
  #subToolbar button:hover {
    color: #06c;
  }