.userLogin{
    border:0px;
    color:rgb(64, 64, 64);
    font: inherit;
    padding: 7px 15px;
    text-align: center;
    text-size-adjust: 100%;
    white-space: nowrap;
    font-weight: 500;
}