.avatar{
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.commentContent{
    width: 100%;
}
.comment{
    border: 1px solid #d6d6d7;
    border-radius: 8px;
    background-color: white;
}