body{
    background-color: whitesmoke;
}
.containerMain{
    margin-top: 60px;
}
.detailAside{
    position: sticky;
    top: 76px;
}
.asideLeft{
    height: 100%;
}
.containerCreate{
    margin-top: 60px;
}
.containerPost{
    margin-top: 60px; 
}
