.cardBody{
    font-size: 14px;

    .mainProfile{
        height: 40px;
        width: 40px;
        img{
            max-width: 100%;
        }   
    }
    p.textDecorationNone{
        color: #000;
        text-decoration: none;
        &:hover{
            color: #171717;
        }
    }
   
    .profileName{
        height: 47px;
        width: 230px;
        
        p.postDate{
            font-size: 12px;
        }
    }
    
}

