.cardPostHeader{
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    font-weight: bold;
    padding-bottom: 8px;
    a{
        color: black;
        text-decoration: none;
    }
}
.seeAll{
    font-size: 14px;
    color: #3b49df;
}