.forem{
    background-color: #0a3e4a;
    &:hover{
        background-color: #0a3e4a !important;
    }
}
.twitter{
    background-color: #1da1f2;
    &:hover{
        background-color: #1da1f2 !important;
    }
}
.black{    
    background-color: black;
    &:hover{
        background-color: black !important;
    }
}