.cardProfile{
    background-color: #fafafa;    
}
.cardBorder{
    height: 2rem;
    background-color: #2f3ab2;
}
.cardProfileTitle {
    color: #646464;
}

.btnFollowContainer{
    button{
        background-color: #3b49df;
        color: white;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }  
}